<!--<div class="mt-3 col-md-2 p-2 image1 text-white" style="margin: auto; border: 1px solid; border-radius: 4px; width: 400px; height: 550px">-->
<!--  <h4>Thông tin nhà xe</h4>-->
<!--  <hr>-->
<!--  <p>Nhà xe:{{bus.name}}</p>-->
<!--  <p>Loại xe:{{bus.typeBus.name}}</p>-->
<!--  <p>Nơi đi:{{bus.goLocation}}</p>-->
<!--  <p>nơi đến:{{bus.backLocation}}</p>-->
<!--  <button class="form-control btn btn-outline-warning mb-2" routerLink="/bus">-->
<!--    <i class="fa fa-backward text-primary"></i>-->
<!--  </button>-->
<!--</div>-->

