<div class="text-center" style="margin-top: 80px">
  <h3 class="font-monospace text-danger">{{now.getHours()}}:{{now.getMinutes()}}:{{now.getSeconds()}}</h3>
  <div class="text-white">{{now}}</div>
</div>
<div class="col-md-7 d-flex mt-3" style="margin: auto">
  <input class="form-control me-2 mb-2" (input)="onSearch()" [(ngModel)]="name" name="name" placeholder="enter name">

  <input class="form-control ms-2 mb-2" (input)="onSearch()" [(ngModel)]="categoryName" name="categoryName"
         placeholder="enter category">
</div>
<div class="col-md-7 mb-5" style="margin: auto">
  <table class="table table-success table-hover">
    <thead>
    <tr class="table-primary">
      <th>#</th>
      <th><a (click)="changeSort()">Name</a></th>
      <th>Price</th>
      <th>Produce</th>
      <th>Category</th>
      <th colspan="2"  class="text-center">
        <button style="border-radius: 45%" type="button" class="btn btn-light border-0 text-success" (click)="getForm()" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop">
        <i class="fa fa-heart-circle-plus"></i>
      </button>
      </th>
    </tr>
    </thead>
    <tbody class="shadow">
    <tr *ngFor="let product of productPage| paginate: {itemsPerPage: 5, currentPage: p}; index as i">
      <td>{{i + 1}}</td>
      <td><a class="text-decoration-none" [routerLink]="['/detail/' + product.id]">{{product.name}}</a></td>
      <td>{{product.price}}</td>
      <td>{{product.produce}}</td>
      <td>{{product.category.name}}</td>
      <td class="text-center">
        <button style="border-radius: 45%" type="button" class="btn btn-outline-light border-0" (click)="getFormEdit(product.id)" data-bs-toggle="modal"
                data-bs-target="#edit">
          <span class="fa fa-edit text-warning"></span>
        </button>
      </td>
      <td class="text-center">
        <button style="border-radius: 45%" type="button" class="btn btn-outline-light border-0" (click)="getDelete(product.id)" data-bs-toggle="modal"
                data-bs-target="#deleteProduct">
          <span class="fa fa-trash text-danger"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="container bg-dark bg-gradient text-white">
  <pagination-controls style="font-family: 'Britannic Bold'" class="text-center" nextLabel=">>" previousLabel="<<" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div *ngIf="productForm" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="createProduct()">
          <div class="form-text mb-4">
            <label class="form-label" for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" name="name"/>
          </div>
          <div class="form-text mb-4">
            <label class="form-label" for="price">Price</label>
            <input type="text" id="price" class="form-control" formControlName="price" name="price"/>
          </div>
          <div class="form-text mb-4">
            <label class="form-label" for="produce">Produce</label>
            <input type="email" id="produce" class="form-control" formControlName="produce" ngModel="produce"/>
          </div>
          <div class="form-text mb-4" formGroupName="category">
            <label class="form-label" for="category">Category</label>
            <select formControlName="id" id="category" class="form-select" name="category">
              <option value="" disabled selected>choose category</option>
              <ng-container *ngFor="let category of categoryList">
                <option [ngValue]="category.id">{{category.name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light border-0" data-bs-dismiss="modal"><i class="fa fa-cancel text-black"></i></button>
            <button type="submit" class="btn btn-light border-0" data-bs-dismiss="modal"><i class="fa fa-save text-danger"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="productForm" class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">Edit product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
          <div class="form-text mb-4">
            <label class="form-label" for="id">Id</label>
            <input type="text" id="id" class="form-control" formControlName="id" name="id"/>
          </div>
          <div class="form-text mb-4">
            <label class="form-label" for="name1">Name</label>
            <input type="text" id="name1" class="form-control" formControlName="name" name="name"/>
          </div>
          <div class="form-text mb-4">
            <label class="form-label" for="price1">Price</label>
            <input type="text" id="price1" class="form-control" formControlName="price" name="price"/>
          </div>
          <div class="form-text mb-4">
            <label class="form-label" for="produce1">Produce</label>
            <input type="email" id="produce1" class="form-control" formControlName="produce" ngModel="produce"/>
          </div>
          <div class="form-text mb-4" formGroupName="category">
            <label class="form-label" for="category1">Category</label>
            <select formControlName="id" id="category1" class="form-select" name="category">
              <option value="" disabled selected>choose category</option>
              <ng-container *ngFor="let category of categoryList">
                <option [ngValue]="category.id">{{category.name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-cancel text-black"></i></button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-save text-danger"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="deleteProduct" class="modal fade" id="deleteProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You want delete product:</p>
        <p>name: {{deleteProduct.name}}</p>
        <p>name: {{deleteProduct.price}}</p>
        <p>name: {{deleteProduct.produce}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa fa-cancel text-black"></i>
        </button>
        <button type="submit" class="btn btn-primary" (click)="productDelete()" data-bs-dismiss="modal">
          <i class="fa fa-trash text-danger"></i>
        </button>
      </div>
    </div>
  </div>
</div>
