<div class="col-md-3">
  <h2>Login Form</h2>
<!--  <form [formGroup]="loginUser" (ngSubmit)="onSubmit()" >-->
<!--    <div class="m-2">-->
<!--      <label for="email" class="form-label">Email</label>-->
<!--      <input type="text" id="email" name="email" formControlName="email" class="form-control">-->
<!--      <p *ngIf="loginUser.controls.email.hasError('required') && (loginUser.controls.email.touched || loginUser.controls.email.dirty)" class="text-danger">email is not valid</p>-->
<!--      <p *ngIf="loginUser.controls.email.hasError('emailErrors') && (loginUser.controls.email.touched || loginUser.controls.email.dirty)" class="text-danger">email is not correct</p>-->
<!--    </div>-->
<!--    <div class="m-2">-->
<!--      <label for="password" class="form-label">Password</label>-->
<!--      <input type="text" id="password" name="password" formControlName="password" class="form-control">-->
<!--      <p *ngIf="loginUser.controls.password.hasError('required') && (loginUser.controls.password.touched || loginUser.controls.password.dirty)" class="text-danger">email is not valid</p>-->
<!--      <p *ngIf="loginUser.controls.password.hasError('passErrors') && (loginUser.controls.password.touched || loginUser.controls.password.dirty)" class="text-danger">email is not correct</p>-->
<!--    </div>-->
<!--    <div class="m-2">-->
<!--      <button type="submit" [disabled]="!loginUser.valid">Login</button>-->
<!--    </div>-->
<!--  </form>-->
</div>
