<div class="container lon">
  <h2>Today's article</h2>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <div *ngFor="let art of articles">
        <app-like></app-like>
        <a class="ms-2 text-decoration-none text-success" href="{{art.url}}" target="_blank">{{art.title}}</a>
      </div>
    </div>
    <div class="col-md-5">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vJGnx-IaQd0" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>
  <hr>
  <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ADD NEW ARTICLES
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-warning bg-gradient">
          <h5 class="modal-title" id="exampleModalLabel">ADD NEW ARTICLES</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="title" class="form-label">Title</label>
          <textarea (change)="setTitle($event.target.value)" class="form-control" id="title"></textarea>
          <label for="url" class="form-label">Title</label>
          <textarea (change)="setUrl($event.target.value)" class="form-control" id="url"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-success" (click)="addNewArticle()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

