<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create employee</title>
    <th:block th:replace="~{/layout/home :: cssScript}"></th:block>
    <style>
        body {
            background-image: url("https://img.meta.com.vn/Data/image/2021/09/30/background-la-gi-anh-background-dep-9.png");
            background-position: bottom right;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<nav th:replace="~{/layout/header_footer::header}"></nav>
<div th:replace="~{/layout/home::carousel}"></div>


<footer th:replace="/layout/header_footer::footer"></footer>
</body>
</html>