<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>employee</title>
    <th:block th:replace="~{/layout/home :: cssScript}"></th:block>
    <style>
        body {
            background-image: url("https://img.meta.com.vn/Data/image/2021/09/30/background-la-gi-anh-background-dep-9.png");
            background-position: bottom right;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<nav th:replace="~{/layout/header_footer::header}"></nav>
<div th:replace="~{/layout/home::carousel}"></div>
<div class="container">
    <table class="table table-dark">
        <tr style="font-family: 'Bell MT'">
            <th>STT</th>
            <th>HỌ TÊN</th>
            <th>NGÀY SINH</th>
            <th>SỐ CMND</th>
            <th>SỐ ĐIỆN THOẠI</th>
            <th>EMAIL</th>
            <th>TRÌNH ĐỘ</th>
            <th>BỘ PHẬN</th>
            <th>VỊ TRÍ</th>
            <th>LƯƠNG</th>
            <th></th>
        </tr>
    </table>
</div>
<footer th:replace="/layout/header_footer::footer"></footer>
</body>
</html>