/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
#video_background {

  position: absolute;

  bottom: 0px;

  right: 0px;

  min-width: 100%;

  min-height: 100%;

  width: auto;

  height: auto;

  z-index: -1000;

  overflow: hidden;

}
